@import './variables.scss';

@keyframes fade-in {
  0% { opacity: 0 }
  75% { opacity: 0 }
  100% { opacity: 1 }
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: black;
}

#main-header {
  z-index: 40;
  width: 100%;
  background: none;
  position: absolute;
  height: 10vh;
  // max-height: 40%;
  display: flex;
  flex-direction: column;
  justify-content:  flex-start;
  align-items: center;
  margin-top: 3rem;

  @media only screen and (max-width: 800px){
    display: none;
  }

  & #navbar {
    display: flex;
    align-items: center;
    width: 100%;

    & .language-dropdown {
      // flex: 1;
      align-self: center;
      margin-left: 5rem;
      width: 64px;

      @media only screen and (max-width: 800px) {
        margin-left: 1rem;
      }
      
      & .dropdown-content {
        position: absolute;
        overflow: hidden;
        background-color: $primaryBg;
        max-width: 64px;
        height: 0px;
        transition: height 0.3s ease;

        & img {
          float: none;
          box-sizing: border-box;
          display: block;
          transition: opacity 0.3s ease;
          

          &:hover {
            cursor: pointer;
            opacity: 0.6;
          }
        }

      }
      
      &:hover .dropdown-content {
        height: 128px;
      }

      
    }

    & .navLinks {
      flex: 1;  
      display: flex;
      list-style: none;
      column-gap: 1rem;
      margin-right: 5rem;
      padding: 0;
      justify-content: flex-end;
      // background-color: $dlabGreyFaded;
      // filter: drop-shadow(0.05em 0.05em $sepYellow);
      // margin-right: 5rem;

      @media only screen and (max-width: 800px) {
        margin-right: 1rem;
      }
      
      & li {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 5px 10px;

        & a {
          font-size: 1em;
          // color: $sepYellow;
          color: $ghostwhitefaded;  
          text-decoration: none;
          transition: 0.5s;
          font-weight: 400;

          &:hover {
            color: red;
          }
        }
      }
    }
  }

}

#mobile-topnav {
  z-index: 40;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.9);
  position: absolute;
  height: 64px;
  display: none;
  // max-height: 40%;

  @media only screen and (max-width: 800px) {
    display: block;
  }

  & .burger-icon {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      pointer-events: none;
      transition: transform 0.3s ease-out;
    }
  }

  & #dropdown-mobile-menu {
    height: 0px;
    overflow: hidden;
    transition: height 0.2s ease-out;

    & ul {
      list-style: none;
      padding: 0;
      margin: 0;

      & li {
        height: 50px;
        border-bottom: 3px solid $primaryBg;
        background-color: rgba(128, 128, 128, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(1) {
          border-top: 3px solid $primaryBg
        }

        & a {
          text-decoration: none;
          color: $primaryBg;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}

