$primaryBg: rgb(0, 0, 0);
$phthaloGreen: rgb(18, 53, 36);
$bulgarianRose: rgb(72, 6, 7);
$ghostwhite: rgb(248, 248, 255);
$ghostwhitefaded: rgba(248, 248, 255, 0.5);
$oxfordBlue: rgba(0, 33, 71, 0.5);
$dlabGrey: #1d1d1d;
$dlabGreyFaded: rgba(29,29,29, 0.9);
$sepYellow: #ffef39;
$darkerYellow: #a1961e;
$secondaryGrey: #53534e;